<template name="permissions_admin">
	<div class="description">
		<h3>You are an Admin</h3>
		<p>Request to become a super admin</p>
		<button>Request</button>
	</div>
	<div class="pending_host_permission_list">
		<h3>Pending Host Requests</h3>
		{{#if are_pending_host_requests}}
			{{#each pending_host_requests}}
				{{> permissionItem}}
			{{/each}}
		{{else}}
			<p>There are no pending Host requests for this chapter</p>
		{{/if}}
	</div>
	<br>
	<div class="approved_host_permission_list">
		<h3>Approved Host Requests</h3>
		{{#if are_approved_host_requests}}
			{{#each approved_host_requests}}
				{{> permissionItem}}
			{{/each}}
		{{else}}
			<p>There are no approved Host requests for this chapter</p>
		{{/if}}
	</div>
</template>