<template name="permissions_lounger">
	<div class="description">
		<h3>You are a Lounger</h3>
	</div>
	<div>
		{{#if statusIs 'unapproved'}}
			<p class="unapproved"> Your Host Privleges have been revoked. Please contact your chapter leaders for clarification</p>
		{{else}}
			{{#if statusIs 'processing'}}
				<p class="processing"> Your request to become a host is processing. Check back soon! You can contact your chapter leaders if you have any questions. </p>
			{{else}}
				{{#if statusIs 'denied'}}
					<p class="denied">Your Request To Become A Host Has Been Denied. Please contact your chapter leaders for clarification</p>
				{{else}}
					<p>Request to become a Host at this Chapter:</p>
				{{/if}}
				<div>
					<button class= "request-btn">Request</button>
				</div>
				<div class="update-info display-none">
					{{> updateInfo}}
				</div>
			{{/if}}
		{{/if}}
	</div>
</template>