<template name="permissions">
	<div class="container axel-container">
		<h1 class="permission-header">My Permissions for {{primaryChapter}}</h1>
		<div class="otro-permissions-header">
			<h3>View Permissions For A Different Chapter</h3>
			<select id="primary-chapter" name="primary-chapter" placeholder="Select a Different Chapter" class="primary-chapter">
			 	<option value="{{#if primaryChapter}}{{primaryChapter}}{{else}}Select Primary Chapter{{/if}}">{{#if primaryChapter}}{{primaryChapter}}{{else}}Select Primary Chapter{{/if}}</option> 
    			{{#each allChapters}}
        			<option value= {{name}}>{{spaced_name}}</option> 
    			{{/each}}
    		</select>
		</div>
		{{#if IsSuperAdmin}}
			{{> permissions_superadmin}}
		{{else}}
			{{#if roleIs 'admin'}}
				{{> permissions_admin}}
			{{else}}
				{{#if roleIs 'host'}}
					{{> permissions_host}}
				{{else}}
					{{> permissions_lounger}}
				{{/if}}
			{{/if}}
		{{/if}}
	</div>
</template>