<template name="permissions">
	<div class="container axel-container">
		<h1 class="permission-header">My Permissions for {{primaryChapter}}</h1>
		<div>
			<h3>View Permissions For A Different Chapter</h3>
			<form class="change-chapter-form standard-form">
				<select id="primary-chapter" name="primary-chapter" placeholder="Select a Different Chapter">
				 	<option value="{{#if primaryChapter}}{{primaryChapter}}{{else}}Select Primary Chapter{{/if}}">{{#if primaryChapter}}{{primaryChapter}}{{else}}Select Primary Chapter{{/if}}</option> 
        			{{#each allChapters}}
            			<option value= {{name}}>{{spaced_name}}</option> 
        			{{/each}}
        		</select>
				<button class="change-chapter-btn btn btn-lg btn-primary btn-block" type="submit">Change Chapter</button>
			</form>
		</div>
		{{#if IsSuperAdmin}}
			{{> permissions_superadmin}}
		{{else}}
			{{#if roleIs 'admin'}}
				{{> permissions_admin}}
			{{else}}
				{{#if roleIs 'host'}}
					{{> permissions_host}}
				{{else}}
					{{> permissions_lounger}}
				{{/if}}
			{{/if}}
		{{/if}}
	</div>
</template>