<template name="permissions">
	<div class="container">
		<h1>My Permissions for {{primaryChapter}}</h1>
		<div>
			<h3>Change Chapter</h3>
			<form class="change-chapter-form standard-form">
				<select id="primary-chapter" name="primary-chapter">
				  <option value="{{#if primaryChapter}}{{primaryChapter}}{{else}}Select Primary Chapter{{/if}}">{{#if primaryChapter}}{{primaryChapter}}{{else}}Select Primary Chapter{{/if}}</option>
				  <option value="UC_Berkeley">UC Berkeley</option>
				  <option value="UC_Los_Angeles">UCLA</option>
				  <option value="UC_Santa_Barbara">UCSB</option>
				  <option value="UC_Santa_Cruz">UCSC</option>
				  <option value="University_of_Colorado_at_Boulder">Colorado</option>
				  <option value="Harvard_University">Harvard</option>
				  <option value="N/A">N/A</option>
				  <option value="Other">Other</option>
				</select>
				<button class="change-chapter-btn btn btn-lg btn-primary btn-block" type="submit">Change Chapter</button>
			</form>
		</div>
		{{#if roleIs 'superadmin'}}
			{{> permissions_superadmin}}
		{{else}}
			{{#if roleIs 'admin'}}
				{{> permissions_admin}}
			{{else}}
				{{#if roleIs 'host'}}
					{{> permissions_host}}
				{{else}}
					{{> permissions_lounger}}
				{{/if}}
			{{/if}}
		{{/if}}
	</div>
</template>