<template name="doatl">
	{{#if loggedIn}}
		<div class="upcoming">
			<h1 class="main-title doatl-main-title">DO A THOUGHT LOUNGE.</h1>
			<h2 class="select-where">Select Where...</h2>
			<div class="doatl-select-wrapper">
				<select id="primary-chapter" class="doatl-select" name="primary-chapter" placeholder="Select a Different Chapter">
				 	<option value="{{selectedChapter}}">{{spacedChapter}}</option> 
					{{#each allChapters}}
						{{#if notSelectedChapter}}
		    				<option value= {{name}}>{{spaced_name}}</option> 
		    			{{/if}}
					{{/each}}
				</select>
			</div>
			{{> doatlList}}
		</div>
	{{else}}
		<div class="upcoming">
			<h1 class="main-title doatl-main-title">DO A THOUGHT LOUNGE.</h1>
			<h2 class="select-where">Select Where...</h2>
			<div class="doatl-select-wrapper">
				<select id="primary-chapter" class="doatl-select-logged-out" name="primary-chapter" placeholder="Select a Different Chapter"> 
					<option value="{{selectedChapter}}">{{spacedChapter}}</option>
					{{#each allChapters}}
		    			{{#if notSelectedChapter}}
		    				<option value= {{name}}>{{spaced_name}}</option> 
		    			{{/if}} 
					{{/each}}
				</select>
			</div>
			{{> doatlList}}
		</div>
	{{/if}}
</template>