.main-title {
	text-align: center;
	font-family: 'Sarala';
	font-size: 3.5em
}

.doatl-button {
	background-color:#39bdee;
	border-radius:5px;
	border:2px solid #39bdee;
	color: white;
	width:7em;
	display: inline-block;
	text-align: center;
	padding: 4px;
	cursor: pointer;
	&:hover {
		background-color:white;
		color:#39bdee
	}
}

.create-form-date {
	display: inline-block;
	width: 12em;
	margin-right: 1em
}

.create-form-time {
	display: inline-block;;
	width: 16.5em
}

#time {
	width:10em
}

#city {
	width: 7em;
	margin-right: 1em;
	display:inline-block
}
#state {
	display: inline-block;
    width: 4.5em;
    margin-top: 1em;
}
#zipcode {
	display: inline-block;
    width: 7em;
    margin-left: 1em;
}

#location {
	width: 90%
}
#address {
	width:90%
}

.create-form {
	width:30em;
	margin: 0px auto;
	margin-top: 2em;
	p {
		margin-bottom:3px;
		margin-top: 1em
	}
}
#participant1e, #participant2e, #participant3e,
#participant4e,#participant5e {
	display: inline;
    width: 15em;	
}

#participant1n, #participant2n, #participant3n,
#participant4n,#participant5n {
	display: inline;
    width: 13em;
    margin-right: 1em;
    margin-bottom: 1em;	
}


.create-button {
	background-color:#39eec5;
	border-radius:5px;
	border:2px solid #39eec5;
	color: white;
	width: 7em;
	display: inline-block;
	text-align: center;
	padding:4px;
	cursor: pointer;
	&:hover {
		background-color:white;
		color:#39eec5
	}
}
.cancel-create-button {
	background-color:#F25B5B;
	border-radius:5px;
	border:2px solid #F25B5B;
	color: white;
	width: 7em;
	display: inline-block;
	text-align: center;
	padding:10px;
	cursor: pointer;
	&:hover {
		opacity:.7
	}
}

.create-lounge-button {
	display: inline-block;
	background: #39eec5;
    border: #39eec5;
    color: white;
    width: 73%
}

.doatl-create-buttons-wrapper {
	text-align: center
}

.display-none {
	display:none;
}