<template name = "bubbles">
	<div class="lounge-spots">
		<p>{{spots_left}} spots left</p>
		{{#if takenGt 0}}
			<img id="bubble1" src="http://i65.tinypic.com/2rqhkp3.jpg" alt="">
		{{else}}
			<img id="bubble1" src="http://i63.tinypic.com/f1kuv7.jpg" alt="">
		{{/if}}
		{{#if takenGt 1}}
			<img id="bubble1" src="http://i65.tinypic.com/2rqhkp3.jpg" alt="">
		{{else}}
			<img id="bubble1" src="http://i63.tinypic.com/f1kuv7.jpg" alt="">
		{{/if}}
		{{#if takenGt 2}}
			<img id="bubble1" src="http://i65.tinypic.com/2rqhkp3.jpg" alt="">
		{{else}}
			<img id="bubble1" src="http://i63.tinypic.com/f1kuv7.jpg" alt="">
		{{/if}}
		{{#if takenGt 3}}
			<img id="bubble1" src="http://i65.tinypic.com/2rqhkp3.jpg" alt="">
		{{else}}
			<img id="bubble1" src="http://i63.tinypic.com/f1kuv7.jpg" alt="">
		{{/if}}
		{{#if takenGt 4}}
			<img id="bubble1" src="http://i65.tinypic.com/2rqhkp3.jpg" alt="">
		{{else}}
			<img id="bubble1" src="http://i63.tinypic.com/f1kuv7.jpg" alt="">
		{{/if}}
		{{#if takenGt 5}}
			<img id="bubble1" src="http://i65.tinypic.com/2rqhkp3.jpg" alt="">
		{{else}}
			<img id="bubble1" src="http://i63.tinypic.com/f1kuv7.jpg" alt="">
		{{/if}}
	</div>
</template>