<template name="lounge_info_form">	
	<form class="create-form standard-form update-lounge">
	   <p>Chapter</p>
		<select id="primary-chapter" name="select-a-chapter" placeholder="Select a Different Chapter">
 		<option value="{{#if primaryChapter}}{{primaryChapter}}{{else}}Select Primary Chapter{{/if}}">{{#if primaryChapter}}{{primaryChapter}}{{else}}Select Primary Chapter{{/if}}</option> 
		{{#each allChapters}}
			<option value= {{name}}>{{spaced_name}}</option> 
		{{/each}}
		</select>
		<p>Type of Lounge</p>
	    <div class="sel-div">
		    <select id="type-of-lounge" name="type-of-lounge" class="type-of-lounge">
			  <option value="tl-session" class="not-other">TL Session</option>
			  <option value="other" class="other">Other</option>
			</select>
		</div>
		<div class="other-type">
			<p>Title of Lounge (only if 'Type of Lounge' is 'Other')</p>
			<input type="text" id="title-of-lounge" class="form-control middle-input" name="title-of-lounge" placeholder="e.g. TL Against Poverty" autofocus>
			<p class="url-desc">URL Link to Description of Format (only if 'Type of Lounge' is 'Other')</p>
			<p class="sub-desc-input">(hint: create a <i>public</i> Google Doc and get the "share" link from that)</p>
			<input type="url" id="url" class="form-control middle-input" name="url" placeholder="http://..." autofocus>
			<p class="number-of-loungers">Total Number of Loungers (only if 'Type of Lounge' is 'Other')</p>
			<input id="number-of-loungers" type="number" name="number-of-loungers" value="6" min="1" max="100">
		</div>
	    <div class="create-form-date">
	    <p>Date of Lounge</p>
	    	<input type="date" id="date" name="date" class="form-control middle-input" placeholder="12/12/1993" required autofocus>
	 	</div>
	 	<div class="create-form-time">
	    <p>Time (e.g. 07:00 PM)</p>
	    <input type="time" id="time" name="time" class="form-control middle-input" placeholder="Time" required autofocus>
	  	</div>
	    <p>Location of Lounge (e.g. Main Stacks Library)</p>
	    <input type="text" id="location" name="location" class="form-control middle-input" placeholder="Location" required autofocus>
	    <p>Address of Lounge (optional)</p>
	    <input type="text" id="address" name="address" class="form-control middle-input"  placeholder="Street address (e.g. 1234 Loungin' Hardcore Way)" autofocus>
	    <input type="text" id="city" class="form-control middle-input" name="city" placeholder="City" autofocus>
	    <input type="text" id="state" class="form-control middle-input" name="state" placeholder="State" autofocus>
	  	<input type="text" id="zipcode" class="form-control middle-input" name="zipcode" placeholder="Zipcode" autofocus>
	  	<p>Participant Info (optional)</p>
	  	{{#if isParticipant 1}}
		  	<div class="lounge-participant part1">
		  		<div class="participant-nep">{{participant_info 1}}</div>
		  		<div class="delete-btn delete-btn-1">delete</div>
		  	</div>
		{{else}}
	  		<input type="text" id="participant1n" class="form-control middle-input" name="participant1n" placeholder="Participant 1 name" autofocus>
	  		<input type="text" id="participant1e" class="form-control middle-input" name="participant1e" placeholder="Participant 1 email" autofocus>
	  	{{/if}}
	  	{{#if isParticipant 2}}
		  	<div class="lounge-participant part2">
		  		<div class="participant-nep">{{participant_info 2}}</div>
		  		<div class="delete-btn delete-btn-2">delete</div>
		  	</div>
		{{else}}
		  	<input type="text" id="participant2n" class="form-control middle-input" name="participant2n" placeholder="Participant 2 name" autofocus>
		  	<input type="text" id="participant2e" class="form-control middle-input" name="participant2e" placeholder="Participant 2 email" autofocus>
		{{/if}}
		{{#if isParticipant 3}}
		  	<div class="lounge-participant part3">
		  		<div class="participant-nep">{{participant_info 3}}</div>
		  		<div class="delete-btn delete-btn-3">delete</div>
		  	</div>
		{{else}}
		  	<input type="text" id="participant3n" class="form-control middle-input" name="participant3n" placeholder="Participant 3 name" autofocus>
		  	<input type="text" id="participant3e" class="form-control middle-input" name="participant3e" placeholder="Participant 3 email" autofocus>
		{{/if}}
		{{#if isParticipant 4}}
		  	<div class="lounge-participant part4">
		  		<div class="participant-nep">{{participant_info 4}}</div>
		  		<div class="delete-btn delete-btn-4">delete</div>
		  	</div>
		{{else}}
		  	<input type="text" id="participant4n" class="form-control middle-input" name="participant4n" placeholder="Participant 4 name" autofocus>
		  	<input type="text" id="participant4e" class="form-control middle-input" name="participant4e" placeholder="Participant 4 email" autofocus>
		{{/if}}
		{{#if isParticipant 5}}
		  	<div class="lounge-participant part5">
		  		<div class="participant-nep">{{participant_info 5}}</div>
		  		<div class="delete-btn delete-btn-5">delete</div>
		  	</div>
		{{else}}
		  	<input type="text" id="participant5n" class="form-control middle-input" name="participant5n" placeholder="Participant 5 name" autofocus>
		  	<input type="text" id="participant5e" class="form-control middle-input" name="participant5e" placeholder="Participant 5 email" autofocus>
		{{/if}}
	    <button class="update-lounge-button btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
	    <div class="cancel-lounge-button">Cancel This Lounge</div>
	</form>
</template>