<template name="doatlLounge">
	<div class="lounge-wrapper-outer">
		{{> lounge_type_temp}}
		<div class="lounge-wrapper-inner">
			<div class="lounge-wrapper">
				<div class="lounge-date-host-loc">
					<div class="lounge-date-host-loc-inner">
						<div class="lounge-date">
							<div class="lounge-day">
						    {{lounge_day}},
						  </div>
						  <div class="lounge-time">
						    {{lounge_time}}
						  </div>
						  <div class="lounge-date-numbers">
						    {{lounge_date_numbers}}
						  </div>
						</div>
					</div>
					<div class="lounge-host">
						 {{> host_photo}}
  					<p>Host: {{host_name}}</p>
					</div>
					<div class="lounge-loc">
						{{lounge_location}}
						{{#if lounge_address}}
							{{lounge_address}}, {{lounge_city}}, {{lounge_state}}, {{lounge_zipcode}}
						{{else}}
						{{/if}}
					</div>
				</div>
				<div class="lounge-spots-buttons">
					{{> bubbles}}
					<div class="lounge-buttons">
						{{#if takenGt 5}}
							<div class="lounge-buttons-text">
								<p>This lounge is full!!</p>
							</div>
						{{else}}
							{{#if userIsParticipant}}
								<div class="lounge-buttons-text">
									<p>You are already signed up for this lounge! Make sure to mark it in your calendar!</p>
								</div>
							{{else}}
								{{#if loggedIn}}
									<div class="do-this-tl-btn">DO THIS TL</div>
								{{else}}
									<div class="do-this-tl-btn">SIGN IN TO DO THIS TL</div>
								{{/if}}
							{{/if}}
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>