<template name="pastLounge">
	<div class="lounge-wrapper-outer">
		<div class="lounge-wrapper-inner">
			<div class="lounge-wrapper">
				<div class="lounge-date-host-loc">
					<div class="lounge-date-host-loc-inner">
						<div class="lounge-date">
							<div class="lounge-day">
						    Saturday,
						  </div>
						  <div class="lounge-time">
						    12:25 PM
						  </div>
						  <div class="lounge-date-numbers">
						    12/12/1993
						  </div>
						</div>
					</div>
					<div class="lounge-host">
						 <img class="host-img" src="https://static1.squarespace.com/static/56395a91e4b0e877f7abcb75/t/56634898e4b02fb599039420/1449347225210/VivianLiu.jpg?format=300w" alt="">
  					<p>Host: Vivian</p>
					</div>
					<div class="lounge-loc">
						NORMAL PAST LOUNGES (El Gallito 4582, Ñuñoa, Región Metropolitana, Chile)
					</div>
				</div>
				<div class="lounge-spots-buttons">
					<div class="lounge-spots">
						<p>6 people went to this Lounge</p>
						<img src="http://i65.tinypic.com/2rqhkp3.jpg" alt="">
						<img src="http://i65.tinypic.com/2rqhkp3.jpg" alt="">
						<img src="http://i63.tinypic.com/f1kuv7.jpg" alt="">
						<img src="http://i63.tinypic.com/f1kuv7.jpg" alt="">
						<img src="http://i63.tinypic.com/f1kuv7.jpg" alt="">
						<img src="http://i63.tinypic.com/f1kuv7.jpg" alt="">
					</div>
					<div class="lounge-buttons">
						<div class="contact-host"> Contact Host
						</div>
						<a href="http://thoughtlounge.org/the-lounge-log" target="blank"><div class="view-lounge-log">View Lounge Log
						</div></a>
					</div>
				</div>
				<div class="contact-host-div display-none">
					<h2>Your Host is Here for You!</h2>
				  <p>Give 'em a call, shoot 'em a text, or send 'em an email if you have <i>any</i> questions about ANYTHING.</p>
				  <p>Vivian's phone: 123-456-7890</p>
				  <p>Vivian's email: titilating@greatness.edu</p>
				</div>
			</div>
		</div>
	</div>
</template>