<template name="pastLoungeH">
	<div class="lounge-wrapper-outer">
		<div class="lounge-wrapper-inner">
			<div class="lounge-wrapper">
				<div class="lounge-date-host-loc">
					<div class="lounge-date-host-loc-inner">
						<div class="lounge-date">
							<div class="lounge-day">
						    {{lounge_day}},
						  </div>
						  <div class="lounge-time">
						    {{lounge_time}}
						  </div>
						  <div class="lounge-date-numbers">
						    {{lounge_date_numbers}}
						  </div>
						</div>
					</div>
					<div class="lounge-host">
						 {{> host_photo}}
  					<p>Host: {{host_name}}</p>
					</div>
					<div class="lounge-loc">
						{{lounge_location}}
						{{#if lounge_address}}
							{{lounge_address}}, {{lounge_city}}, {{lounge_state}}, {{lounge_zipcode}}
						{{else}}
						{{/if}}
					</div>
				</div>
				<div class="lounge-spots-buttons">
					{{> bubbles}}
					<div class="lounge-buttons">
						<div class="this-lounge-info">Lounge Info
						</div>
						<div class="log-your-lounge">Log Your Lounge
						</div>
						<a href={{lounge_log_link}} target="blank"><div class="view-lounge-log">View Lounge Log
						</div></a>
					</div>
				</div>
				<div class="lounge-info display-none" id = "lounge-info{{_id}}" >
					{{> lounge_info_form}}
				</div>
				<div class="lounge-insert-log-url display-none" id = "lounge-insert-log-url{{_id}}">
					<form class="lounge-log-url-form standard-form">
						<h2>Log Your Lounge</h2>
						<a href="http://thoughtlounge.org/log-your-lounge" target="_blank">Remind me how.</a>
						<p>Once you've logged your lounge and have the link to it, submit it here so your loungers can come back to it in the future.</p>
						<input type="url" id="lounge-log-url" class="form-control middle-input" name="lounge-log-url" placeholder="http://..." autofocus>
				    <button class="submit-lounge-log-btn btn btn-lg btn-primary btn-block" type="submit">SUBMIT LINK</button>
				  </form>
				</div>
			</div>
		</div>
	</div>
</template>