<template name="upcomingLounge">
	<div class="lounge-wrapper-outer">
		<div class="lounge-wrapper-inner">
			<div class="lounge-wrapper">
				<div class="lounge-date-host-loc">
					<div class="lounge-date-host-loc-inner">
						<div class="lounge-date">
							<div class="lounge-day">
						    {{lounge_day}},
						  </div>
						  <div class="lounge-time">
						    {{lounge_time}}
						  </div>
						  <div class="lounge-date-numbers">
						    {{lounge_date_numbers}}
						  </div>
						</div>
					</div>
					<div class="lounge-host">
						 <img class="host-img" src="https://static1.squarespace.com/static/56395a91e4b0e877f7abcb75/t/56634898e4b02fb599039420/1449347225210/VivianLiu.jpg?format=300w" alt="">
  					<p>Host: {{host_name}}</p>
					</div>
					<div class="lounge-loc">
						{{lounge_location}}
						{{#if lounge_address}}
							{{lounge_address}}, {{lounge_city}}, {{lounge_state}}, {{lounge_zipcode}}
						{{else}}
						{{/if}}
					</div>
				</div>
				<div class="lounge-spots-buttons">
					{{> bubbles}}
					<div class="lounge-buttons">
						<div class="contact-host"> Contact Host
						</div>
						<div class="cant-make-it">Un-RSVP
						</div>
					</div>
				</div>
				<div class="contact-host-div display-none">
					<h2>Your Host is Here for You!</h2>
				  <p>Give 'em a call, shoot 'em a text, or send 'em an email if you have <i>any</i> questions about ANYTHING.</p>
				  <p>{{host_name}}'s phone: {{host_phone}}</p>
				  <p>{{host_name}}'s email: {{host_email}} </p>
				</div>
			</div>
		</div>
	</div>
</template>