<template name="create">
	<div class="create">
		<form class="create-form">
		    <div class="create-form-date">
		    <p>Date of Lounge</p>
		    <input type="date" id="date" name="date" class="form-control middle-input" placeholder="12/12/1993" required autofocus>
		 		</div>
		 		<div class="create-form-time">
		    <p>Time (e.g. 07:00 PM)</p>
		    <input type="time" id="time" name="time" class="form-control middle-input" placeholder="Time" required autofocus>
		  	</div>
		    <p>Location of Lounge (e.g. Main Stacks Library)</p>
		    <input type="text" id="location" name="location" class="form-control middle-input" placeholder="Location" required autofocus>
		    <p>Address of Lounge (optional)</p>
		    <input type="text" id="address" name="address" class="form-control middle-input"  placeholder="Street address (e.g. 1234 Loungin' Hardcore Way)" autofocus>
		    <input type="text" id="city" class="form-control middle-input" name="city" placeholder="City" autofocus>
		    <input type="text" id="state" class="form-control middle-input" name="state" placeholder="State" autofocus>
		  	<input type="text" id="zipcode" class="form-control middle-input" name="zipcode" placeholder="Zipcode" autofocus>
		  	<p>Participant Info (optional)</p>
		  	<input type="text" id="participant1n" class="form-control middle-input" name="participant1n" placeholder="Participant 1 name" autofocus>
		  	<input type="text" id="participant1e" class="form-control middle-input" name="participant1e" placeholder="Participant 1 email" autofocus>
		  	<input type="text" id="participant2n" class="form-control middle-input" name="participant2n" placeholder="Participant 2 name" autofocus>
		  	<input type="text" id="participant2e" class="form-control middle-input" name="participant2e" placeholder="Participant 2 email" autofocus>
		  	<input type="text" id="participant3n" class="form-control middle-input" name="participant3n" placeholder="Participant 3 name" autofocus>
		  	<input type="text" id="participant3e" class="form-control middle-input" name="participant3e" placeholder="Participant 3 email" autofocus>
		  	<input type="text" id="participant4n" class="form-control middle-input" name="participant4n" placeholder="Participant 4 name" autofocus>
		  	<input type="text" id="participant4e" class="form-control middle-input" name="participant4e" placeholder="Participant 4 email" autofocus>
		  	<input type="text" id="participant5n" class="form-control middle-input" name="participant5n" placeholder="Participant 5 name" autofocus>
		  	<input type="text" id="participant5e" class="form-control middle-input" name="participant5e" placeholder="Participant 5 email" autofocus>
		    <button class="create-lounge-button btn btn-lg btn-primary btn-block" type="submit">Create Lounge</button>
		    <div class="cancel-create-button">Cancel</div>
		  </form>
	</div>
</template>