<template name="sidebar">
<div id="left">
  	<ul class="vert_nav">
	    <a href="/my-upcoming-lounges">
	    	<li class="vert_nav_item">MY UPCOMING TLS</li>
	    </a>
	    <a href="/my-past-lounges">
	    	<li class="vert_nav_item">MY PAST TLS</li>
	    </a>
	    <a href="/my-permissions">
	    	<li class="vert_nav_item">PERMISSIONS</li>
	    </a>
	    <a href="/my-profile">
	    	<li class="vert_nav_item">PROFILE</li>
	    </a>
	    <a href="/my-settings">
	    	<li class="vert_nav_item">SETTINGS</li>
	    </a>
  	</ul>
  	<div class="sb-doatl-btn">
  		{{> doatlBtn}}
  	</div>
 	<div class="sb-create-btn">
  		{{> createBtn}}
 	</div>
</div> 
</template>