<template name="tlnav">
{{> announcementBar}}

<div class="mobile-icon-menu">
    <img id="icon-menu-img" src="http://i64.tinypic.com/4sxnyh.png" alt="">
</div> 

<div class="mobile-tlnav-wrapper">
  <a href="http://thoughtlounge.org"><img class="tlnav-logo" src="https://static1.squarespace.com/static/56395a91e4b0e877f7abcb75/t/5641b216e4b0d07b31b032a1/1449347883844/?format=400w" alt=""></a>
  <div class="mobile-tl-nav display-none">
    <div class="mob-tlnav-text">
      <ul class="mob-nav-ul">
        <li class="home-button-div">
          <img class="mob-home-button" src="http://i67.tinypic.com/2d6iqb.png" alt="">
        </li> 
        <a href="/doatl">
          <li id="mob-nav-doatl-button" class="close-mob-nav">DO.A.TL
          </li>
        </a>
        {{#if currentUser}}
        <ul class="mob-folder-wrapper-login folder-wrapper">
          <li class="mob-login-button">&nbsp; &nbsp; + {{firstName}} &nbsp; &nbsp; &nbsp;</li>
          <div class="folder-child-login folder-child  mob-folder-child-login display-none">
            <a href="/my-upcoming-lounges"><li class="chapters-button mob-login-item close-mob-nav">MY UPCOMING TLS</li></a>
            <a href="/my-past-lounges"><li class="login-button mob-login-item close-mob-nav">MY PAST TLS</li></a>
            <a href="/my-permissions"><li class="login-button mob-login-item close-mob-nav">PERMISSIONS</li></a>
            <a href="/my-profile"><li class="login-button mob-login-item close-mob-nav">PROFILE</li></a>
            <a href="/my-settings"><li class="login-button mob-login-item close-mob-nav">SETTINGS</li></a>
            <a href="/logout"><li class="login-button mob-login-item logout-btn close-mob-nav" role="presentation">LOGOUT</li></a>
          </div>
        </ul>
        {{else}}
        <ul class="mob-wrapper-logged-out folder-wrapper">
          <a href="/"><li class="mob-login-button">&nbsp; &nbsp; Login &nbsp; &nbsp; &nbsp;</li></a>
        </ul>
        {{/if}}
        <ul class="mob-folder-wrapper-chapters folder-wrapper">
          <li id="chapters-button" class="chapters-button">+ &nbsp; &nbsp; CHAPTERS &nbsp; &nbsp; &nbsp;</li>
          <div class="folder-child-chapters folder-child display-none">
            <a href="http://www.thoughtlounge.org/cal"><li class="chapters-button mob-chapters-item">UC Berkeley</li></a>
            <a href="http://www.thoughtlounge.org/ucla"><li class="chapters-button mob-chapters-item">UCLA</li></a>
            <a href="http://www.thoughtlounge.org/ucsb"><li class="chapters-button mob-chapters-item">UCSB</li></a>
            <a href="http://www.thoughtlounge.org/colorado"><li class="chapters-button mob-chapters-item">COLORADO</li></a>
            <a href="http://www.thoughtlounge.org/mit-harvard"><li class="chapters-button mob-chapters-item">MIT/HARVARD</li></a>
            <a href="http://www.thoughtlounge.org/new-chapters"><li class="chapters-button mob-chapters-item">NEW CHAPTERS</li></a>
          </div>
        </ul>
        <ul class="mob-folder-wrapper-tl-now folder-wrapper"><li id="tl-now-button" class="tl-now-button">+ &nbsp; &nbsp; TL NOW &nbsp; &nbsp; &nbsp;</li>
          <div class="folder-child-tl-now folder-child display-none">
            <a href="https://soundcloud.com/thoughtlounge"><li class="tl-now-button mob-tl-now-item">PODCAST</li></a>
            <a href="http://www.thoughtlounge.org/lounge-log"><li class="tl-now-button mob-tl-now-item">THE LOUNGE LOG</li></a>
            <a href="http://www.thoughtlounge.org/culture"><li class="tl-now-button mob-tl-now-item">CULTURE</li></a>
            <a href="http://www.thoughtlounge.org/tl-news"><li class="tl-now-button mob-tl-now-item">TL NEWS</li></a>
            <a href="http://www.thoughtlounge.org/tl-tour-2016"><li class="tl-now-button mob-tl-now-item">TL TOUR 2016 BLOG</li></a>
          </div>
        </ul>
        <ul class="mob-folder-wrapper-be-involved folder-wrapper"><li id="be-involved-button" class="be-involved-button">+ &nbsp; &nbsp; BE INVOLVED &nbsp; &nbsp; &nbsp;</li>
          <div class="folder-child-be-involved folder-child display-none">
            <a href="http://www.thoughtlounge.org/host"><li class="be-involved-button mob-be-involved-item">HOST A TL</li></a>
            <a href="http://www.thoughtlounge.org/start-a-chapter"><li class="be-involved-button mob-be-involved-item">START A CHAPTER</li></a>
            <a href="http://www.thoughtlounge.org/run-your-chapter"><li class="be-involved-button mob-be-involved-item">RUN YOUR CHAPTER</li></a>
            <a href="http://www.thoughtlounge.org/forms-and-resources"><li class="be-involved-button mob-be-involved-item">FORMS/RESOURCES</li></a>
            <a href="http://www.thoughtlounge.org/slack"><li class="be-involved-button mob-be-involved-item">FORUM (TALK TL SLACK)</li></a>
          </div>
        </ul>
        <ul class="mob-folder-wrapper-initiatives folder-wrapper"><li id="initiatives-button" class="initiatives-button">+ &nbsp; &nbsp; INITIATIVES &nbsp; &nbsp; &nbsp;</li>
          <div class="folder-child-initiatives folder-child display-none">
            <a href="http://www.thoughtlounge.org/business"><li class="initiatives-button mob-initiatives-item">BUSINESS</li></a>
            <a href="http://www.thoughtlounge.org/tlap"><li class="initiatives-button mob-initiatives-item">TL AGAINST POVERTY</li></a>
          </div>
        </ul>
        <ul class="mob-folder-wrapper-about folder-wrapper"><li id="about-button" class="about-button">+ &nbsp; &nbsp; ABOUT &nbsp; &nbsp; &nbsp;</li>
          <div class="folder-child-about folder-child display-none">
            <a href="http://www.thoughtlounge.org/a-brief-note"><li class="about-button mob-about-item">A BRIEF NOTE</li></a>
            <a href="http://www.thoughtlounge.org/nonprofit"><li class="about-button mob-about-item">THE NONPROFIT</li></a>
            <a href="http://www.thoughtlounge.org/faq"><li class="about-button mob-about-item">FAQS</li></a>
            <a href="http://www.thoughtlounge.org/merch"><li class="about-button mob-about-item">BUY MERCH</li></a>
            <a href="http://www.thoughtlounge.org/donate"><li class="about-button mob-about-item">DONATE</li></a>
            <a href="http://www.thoughtlounge.org/#footer"><li class="about-button mob-about-item">CONTACT</li></a>
          </div>
        </ul>
      </ul>
    </div>
  </div>
</div>

<div class="tlnav">
  <div class="tlnav-text">
    <ul class="nav-text">
      <a href="/doatl"><li id="nav-doatl-button">DO.A.TL</li></a>
      <span class="folder-wrapper-login">
        {{#if currentUser}}
        <li id="nav-login-button">{{firstName}}</li>
        <div class="folder-child-login dt-folder-child-login folder-child display-none">
          <a href="/my-upcoming-lounges"><li class="tl-login-button">MY UPCOMING TLS</li></a>
          <a href="/my-past-lounges"><li class="tl-login-button">MY PAST TLS</li></a>
          <a href="/my-permissions"><li class="tl-login-button">PERMISSIONS</li></a>
          <a href="/my-profile"><li class="tl-login-button">PROFILE</li></a>
          <a href="/my-settings"><li class="tl-login-button">SETTINGS</li></a>
          <a href="/logout"><li class="tl-login-button logout-btn">LOGOUT</li></a>
        </div>
        {{else}}
        <a href="/"><li id="nav-logged-out-button">LOGIN</li></a>
        {{/if}}
      </span>
    </ul>
    <ul class="nav-lower-text">
      <br>
      <ul class="folder-wrapper-chapters folder-wrapper"><li id="chapters-button" class="chapters-button">CHAPTERS</li>
        <div class="folder-child-chapters folder-child display-none">
          <a href="http://www.thoughtlounge.org/cal"><li class="chapters-button">UC Berkeley</li></a>
          <a href="http://www.thoughtlounge.org/ucla"><li class="chapters-button">UCLA</li></a>
          <a href="http://www.thoughtlounge.org/ucsb"><li class="chapters-button">UCSB</li></a>
          <a href="http://www.thoughtlounge.org/colorado"><li class="chapters-button">COLORADO</li></a>
          <a href="http://www.thoughtlounge.org/mit-harvard"><li class="chapters-button">MIT/HARVARD</li></a>
          <a href="http://www.thoughtlounge.org/new-chapters"><li class="chapters-button">NEW CHAPTERS</li></a>
        </div>
      </ul>
      <ul class="folder-wrapper-tl-now folder-wrapper"><li id="tl-now-button" class="tl-now-button">TL NOW</li>
        <div class="folder-child-tl-now folder-child display-none">
          <a href="https://soundcloud.com/thoughtlounge"><li class="tl-now-button">PODCAST</li></a>
          <a href="http://www.thoughtlounge.org/lounge-log"><li class="tl-now-button">THE LOUNGE LOG</li></a>
          <a href="http://www.thoughtlounge.org/culture"><li class="tl-now-button">CULTURE</li></a>
          <a href="http://www.thoughtlounge.org/tl-news"><li class="tl-now-button">TL NEWS</li></a>
          <a href="http://www.thoughtlounge.org/tl-tour-2016"><li class="tl-now-button">TL TOUR 2016 BLOG</li></a>
        </div>
      </ul>
      <ul class="folder-wrapper-be-involved folder-wrapper"><li id="be-involved-button" class="be-involved-button">BE INVOLVED</li>
        <div class="folder-child-be-involved folder-child display-none">
          <a href="http://www.thoughtlounge.org/host"><li class="be-involved-button">HOST</li></a>
          <a href="http://www.thoughtlounge.org/start-a-chapter"><li class="be-involved-button">START A CHAPTER</li></a>
          <a href="http://www.thoughtlounge.org/run-your-chapter"><li class="be-involved-button">RUN YOUR CHAPTER</li></a>
          <a href="http://www.thoughtlounge.org/forms-and-resources"><li class="be-involved-button">FORMS/RESOURCES</li></a>
          <a href="http://www.thoughtlounge.org/slack"><li class="be-involved-button">FORUM (TL SLACK)</li></a>
        </div>
      </ul>
      <ul class="folder-wrapper-initiatives folder-wrapper"><li id="initiatives-button" class="initiatives-button">INITIATIVES</li>
        <div class="folder-child-initiatives folder-child display-none">
          <a href="http://www.thoughtlounge.org/business"><li class="initiatives-button">BUSINESS</li></a>
          <a href="http://www.thoughtlounge.org/tlap"><li class="initiatives-button">TL AGAINST POVERTY</li></a>
        </div>
      </ul>
      <ul class="folder-wrapper-about folder-wrapper"><li id="about-button" class="about-button">ABOUT</li>
        <div class="folder-child-about folder-child display-none">
          <a href="http://www.thoughtlounge.org/a-brief-note"><li class="about-button">A BRIEF NOTE</li></a>
          <a href="http://www.thoughtlounge.org/nonprofit"><li class="about-button">THE NONPROFIT</li></a>
          <a href="http://www.thoughtlounge.org/faq"><li class="about-button">FAQS</li></a>
          <a href="http://www.thoughtlounge.org/merch"><li class="about-button">BUY MERCH</li></a>
          <a href="http://www.thoughtlounge.org/donate"><li class="about-button">DONATE</li></a>
          <a href="http://www.thoughtlounge.org/#footer"><li class="about-button">CONTACT</li></a>
        </div>
      </ul>
    </ul>
  </div>


  <a href="http://www.thoughtlounge.org/"><img class="tlnav-logo" src="https://static1.squarespace.com/static/56395a91e4b0e877f7abcb75/t/5641b216e4b0d07b31b032a1/1449347883844/?format=400w" alt=""></a>
</div>
</template>